
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

<div class="container-fluid">
	

	<div class="container-fluid custom-modal-container">
		<div class="row custom-modal-header"> 
			<div class="col-sm-12">
				<h3>Dr. Brian E. Haley, M.D. F.A.C.O.G.</h3>
			</div>
		</div>

	</div>
	<div>
		<br> <p class="text-center">
			<img src="assets/img/drbrianhaley.jpg" width="120px" height="179px"
			border-width="1" color="Black" alt="" />
			</p>
			<span><p class="text-center">
								   
<p>Dr. Brian E. Haley recieved his undergraduate and graduate degrees from The United States Naval Academy and Purdue University. In 1999, from the Indiana University School of Medicine he received his Medical degree and went on to complete his residency at St Lukes Hospital. He has been in practice for 17 years. <br>Dr. Haley is a member of the American College of Obstetricians and Gynecologists, The Fort Wayne Medical Society and the Indiana State Medical Association. He is also affiliated with Boca Regional Hospital and the Delray Beach Medical Center. </p>
<p>Dr. Haley has had extensive training and experience in Robotic Surgery and Pelvic Floor Reconstruction.  His expertise also includes evaluation and treatment of female bladder disorders.</p>
 
		</span>
		<script>
 
</script>

		<div class="col-lg-12">
			<div class="form-group">
				<button class="btn btn-primary pull-right"
					#answer (click)="exit(answer.value)">Close</button>
			</div>
			<br /> <br />
		</div>

	</div>