
<link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css"
	rel="stylesheet">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

<div class="container-fluid">
	

	<div class="container-fluid custom-modal-container">
		<div class="row custom-modal-header"> 
			<div class="col-sm-12">
				<h3>Dr. Mark B. McCormick, M.D. F.A.C.O.G.</h3>
			</div>
		</div>

	</div>
	<div>
		<br> <p class="text-center">
			<img src="assets/img/brochuredrMark.png" width="175px" height="162px"
			border-width="1" color="Black" alt="" />
			</p>
			<span>
			
			<p class="text-center">
         <p>Dr. McCormick has been an Obstetrician and Gynecologist in Boca Raton, Florida for 
         close to twenty-five years.<br />
         <br />
         He has practiced general Obstetrics and Gynecology 
         with a strong interest in<b> </b>abnormal vaginal bleeding. He has done a large 
         number of uterine ablative procedures for abnormal bleeding. This minor surgery 
         is done as an outpatient and the patient is usually able to return to her normal 
         activities the next day. This allows many women to avoid the much more invasive 
         and painful abdominal hysterectomy surgery.
         <br />
         <br />
         He also has an extensive background in Obstetrics and has delivered thousands of healthy babies.  
         <br />
         <br />
         Dr. McCormick went 
         to Emory University where he graduated Magna Cum Laud in chemistry. His medical 
         training was at University of Miami School of Medicine and his residency was at 
         Jackson Memorial Hospital&#39;s prestigious Ob/Gyn program<br />
         <p> <a href="DrMarkMcCormick-monalisatouch.html"><span class="style25">MonaLisa Touch</span></a><br />
         <a href="http://www.consortiamedical.com/education/for-her"><span class="style25">Pelvic Floor Muscle Training</span></a><br /></p>
        				 
		</span>
		<script>
 
</script>

		<div class="col-lg-12">
			<div class="form-group">
				<button class="btn btn-primary pull-right"
					#answer (click)="exit(answer.value)">Close</button>
			</div>
			<br /> <br />
		</div>

	</div>