body {
	width: 580px;
	margin: auto;
	background: white;
	font-family: sans-serif
}

#content {
	padding-top: 60px;
	padding-bottom: 10px;
	background: white url("assets/img/logo.png") no-repeat scroll 270px 10px
}

h1, h2, p {
	padding-left: 10px;
	padding-right: 10px
}

h1 {
	background-color: #1c75bc;
	padding: 10px;
	color: #f6f6f6;
	text-align: center
}

h2 {
	background-color: #a9cdea;
	padding: 10px;
	color: #111
}

p {
	text-align: left
}