
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

<div class="container-fluid">
	<div class="col-xs-4">
		<!-- p class="lead">injection of the number <strong>{{context.num1}}</strong> and the number <strong>{{context.num2}}</strong></p-->
		<!--span class="style3">Quit: y/n ?<input class="form-control" type="text" #answer (keyup)="onKeyUp(answer.value)" autofocus> </span>-->

	</div>

	<div class="container-fluid custom-modal-container">
		<div class="row custom-modal-header">
			<div class="col-sm-12">
				<h3>Treatment of Endometriosis</h3>
			</div>
		</div>

	</div>
	<div>
		    <br> <a
			href="http://www.novadaq.com/products/firefly-system-robotic-surgery"
			target="_blank"> <img src="assets/img/endometriosis_surgery.png"
			name="Endometriosis firefly" alt="Endometriosis" /></a> <span
			class="style3"></span><span class="style1"><span
			class="style6"></span><span class="style3"><br /> <br />Dr.
				Bradley S. Douglas<span>, M.D., F.A.C.O.G. </span>brings to Boca
				Raton the latest cutting edge technology for evaluation and
				treatment of Endometriosis known as <span class="style13">&quot;Firefly&quot;</span>.&nbsp;
				<span>After ongoing training from the New York University in
					Manhattan , Dr. Douglas now utilizes this imaging and surgical
					technique to care for pelvic pain and infertility patients
					suffering from endometriosis.</span><br /> <br /> <span>The <span
					class="style13">&quot;Firefly&quot;</span> treatment capitalizes on
					the fact that endometriosis involves angiogenesis where there is
					the new and abnormal growth of small blood vessels that proliferate
					to feed the endometriosis.&nbsp; <br /> <br /> Endometriosis is
					the abnormal ectopic growth of endometrial glands on structures
					such as the peritoneal lining of the abdomen and pelvis, bladder,
					fallopian tubes, bowel, and other surfaces including the ovaries
					and uterus. The result of endometriosis is inflammation and
					chemical reactions such as increased prostaglandins that cause
					pain, adhesions that may stick together closing off structures like
					the fallopian tubes, causing scarring, loss of motility of the
					fallopian tubes, and also rejection of pregnancy implantation in
					the uterine cavity resulting in infertility.
			</span><br /> <br /> <span><span class="style13">&quot;Firefly&quot;
				</span> involves the injection of a commonly used dye which lights up blood
					vessels with the distinct neon color of green. This is performed
					while viewing the contents and lining of the abdomen and pelvis
					laparoscopically with the <a
					href="http://www.davincisurgery.com/surgeon-locator/doctor-profile.html?locale=en_US&ws=&sitekey=English-1&selector=surgeon&cmd=profile&id=119630"
					target="_blank">da Vinci</a> Robotic assisted near infrared camera
					thru a small incision in or near the umbilicus and while the
					patient is under general anesthesia in an operating room. This
					florescence imaging then facilitates identifying endometriosis more
					easily and more thoroughly to then remove those lesions to promote
					the healing of normal tissue and reduce the harmful effects of
					endometriosis. Since some of endometriosis are not readily seen
					with conventional surgery or laparoscopy alone, this technique
					appears to be a breakthrough in better identifying these abnormal
					areas.<br /> <br /> The <a
					href="http://www.davincisurgery.com/surgeon-locator/doctor-profile.html?locale=en_US&ws=&sitekey=English-1&selector=surgeon&cmd=profile&id=119630"
					target="_blank">da Vinci</a> superior instrumentation is designed
					for the best visualization because unlike conventional laparoscopy,
					it offers tenfold magnification and 3D imaging to the surgeon
					rather than only three fold and 2d capabilities. Now with the
					advent of <span class="style12">&quot;<span class="style13">Firefly&quot;</span></span>
					the surgical evaluation and treatment of endometriosis through the
					da Vinci has taken another unique step forward to improve the
					treatment of this disabling condition.<br /> <br /> Dr. Douglas
					has performed numerous <span class="style13">&quot;Firefly&quot;</span>
					procedures at Boca Raton Regional Hospital benefiting his patients.
					He strives for excellence and ongoing education and training. He
					looks forward to helping many more patients in in the future.</span><br />
				<br /> </span></span><b><span class="style3"> <br /></span></b><span
			class="style8">* </span> <span class="style10">References:</span><span
			class="style8"> </span> <span class="style9">da Vinci/ Novadaq
			- Imagining Illuminated Surgery links:</span> <span class="style3">
			<ul>
				<li><a
					href="http://www.davincisurgery.com/da-vinci-gynecology/conditions/endometriosis/treatment/"
					target="_blank">Treatment of Endometriosis</a></li>
				<li><a
					href="http://www.novadaq.com/products/firefly-system-robotic-surgery"
					target="_blank">Firefly</a></li>

				<li><a
					href="http://www.davincisurgery.com/assets/docs/endometriosis-resection-en-875067.pdf"
					target="_blank">da Vinci-gynecology: Considering Endometriosis
						Surgery?</a></li>
			</ul>

		</span>
		<script>
 
</script>

		<div class="col-lg-12">
			<div class="form-group">
				<button class="btn btn-default pull-right"
					#answer (click)="exit(answer.value)">Close</button>
			</div>
			<br /> <br />
		</div>

	</div>