
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

<div class="container-fluid">
	

	<div class="container-fluid custom-modal-container">
		<div class="row custom-modal-header"> 
			<div class="col-sm-12">
				<h3>Dr. Alexandra Lieberman D.O. F.A.C.O.O.G</h3>
			</div>
		</div>

	</div>
	<div>
		<br> <p class="text-center">
			<img src="assets/img/brochuredrAlley1.png" width="131px" height="129px"
			border-width="1" color="Black" alt="" />
			</p>
			<span>
			
								<p class="text-center">
								<p>Dr. Lieberman strives to care for women as if they are
									our mothers, daughters, and sisters; knowing that each is a
									treasure to be honored.</p>
								<p>She believes in listening and then helping you to make
									the health care choices that are right for you. You can count
									on her for quality compassionate healthcare and a natural
									warmth that makes you feel comfortable.</p>
								<p>In addition to her compassion Dr. Lieberman is well
									trained and experienced. She completed her undergraduate
									education at The University of Michigan and received her
									medical degree from NovaSoutheastern College of Osteopathic
									Medicine.</p>
								<p>She completed her residency through Ohio University at
									St. Vincent’s Mercy Medical Center, a Level I Trauma Campus in
									Toledo, Ohio. She received specialized training in the areas of
									obstetrics and gynecology. Dr. Lieberman is a Board Certified
									Obstetrician/Gynecologist.</p>
								<p>Dr. Lieberman’s interests include prevention and holistic
									medicine, normal and complicated obstetrics and minimally
									invasive gynecologic surgery. Dr. Lieberman’s family has
									resided in the South Florida area for close to 20 years. .</p>
		</span>
		<script>
 
</script>

		<div class="col-lg-12">
			<div class="form-group">
				<button class="btn btn-primary pull-right"
					#answer (click)="exit(answer.value)">Close</button>
			</div>
			<br /> <br />
		</div>

	</div>